*{
	padding: 0;
	margin: 0;
}
h1	{
	font: bold 200% sans-serif;
	text-align: center;
	background-color: black;
	color: white;
	padding: 20px;
}
nav ul {
	font: 200% sans-serif;
	background-color: #ff681c;
	width: 100%;
	height: 200%;
	text-align: center;
	}
nav li {
	display: inline;
}
nav a {
	text-decoration: none;
	color: black;
	padding: 10px;
	width: 150px;
}
img {
	width: 596px;
	height: 538px;
	display: flex;
	margin-top: 10px;
}
.contenido {
	text-align: center;
	margin: auto;
	display: flex;
}
.Articulo {
	text-align: center;
	margin: auto;
	display: flex;
}
footer {
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
	margin-top: 20px;
	font: bold 150% sans-serif
}
footer p {
	text-align: center;
	padding: 12px;
}
